.p {
  margin: 0;
}

.btn {
  cursor: pointer;
  height: fit-content;
  min-width: 100px;
}

.container {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

.main {
  width: 100%;
  display: flex;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999;
  background-color: inherit;
}

.aside {
  width: 300px;
  border-left: 1px solid #ccc;
  box-shadow: -5px 0 15px -11px rgba(51, 51, 51, 0.5);
  opacity: 1;
  transition: opacity 250ms linear;

  @media screen and (max-width: 700px) {
    width: 0;
    opacity: 0;
    transition: opacity 250ms ease-out;
  }
}

.section {
  min-height: calc(100vh - 100px);
  width: calc(100% - 300px);

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.footer {
  width: 100%;
  max-width: 800px;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #999;
  background-color: inherit;
}